/*************************************************************/
/********************* TABLE OF CONTENTS *********************/
/*************************************************************/
/**                                                         **/
/** General                                                 **/
/** Generics                                                **/
/** Typography                                              **/
/** Header                                                  **/
/** Main Content                                            **/
/** Portfolio                                               **/
/** Venobox                                                 **/
/** Blog                                                    **/
/** Buttons                                                 **/
/** Forms                                                   **/
/** Pagination                                              **/
/** Elements                                                **/
/**  - Testimonials                                         **/
/**  - Stats                                                **/
/**  - Process                                              **/
/**  - Call to Action                                       **/
/**  - Pricing Table                                        **/
/** Footer                                                  **/
/**                                                         **/
/*************************************************************/
/*************************************************************/



/*************************************************************/
/************************** General **************************/
/*************************************************************/

body {
  font-family: 'Inconsolata', serif;
  background-color: #eee;
  font-size: 15px;
  line-height: 1.4em;
}

.wrapper {
  border-top: 7px solid #232e35;
}

header {
  text-align: center;
  padding-top: 100px;
}

a {
  color: #666;
}

a:hover,
a:active,
a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}



/*************************************************************/
/************************** Generics *************************/
/*************************************************************/

.margin-top-80 { margin-top: 80px!important; }
.margin-bottom-80 { margin-bottom: 80px!important; }

@media (max-width: 991px) {  
	.margin-top-sm-80 { margin-top: 80px!important; } 
} 

/*************************************************************/
/************************ Typography *************************/
/*************************************************************/

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0 }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child { margin-bottom: 0 }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tinos', serif;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.4em;
}

h1 {
  font-size: 2.1em;
  margin-top: 25px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.9em;
  margin-top: 25px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.7em;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.3em;
  margin-top: 15px;
  margin-bottom: 10px;
}

h6 {
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 5px;
}

p:last-child {
  margin: 0;
}

blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px 50px;
  border: 0;
  background: #fff;
  font-family: "Tinos", serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-style: italic;
}

.font-nixie { font-family: 'Nixie One', cursive; letter-spacing: 1px; }
.font-tinos { font-family: 'Tinos', serif; letter-spacing: 1px; }

ul:last-child { 
	margin-bottom: 0; 
}

.icon-list {
  list-style: none;
}

.icon-list li {
  position: relative;
}

.icon-list li + li {
  margin-top: 15px;
}

.icon-list i {
  position: absolute;
  top: 0;
  left: -2em;
  width: 2em;
  font-size: 20px;
  line-height: 1em;
}



/*************************************************************/
/*************************** Header **************************/
/*************************************************************/

/* Logo */
.logo a {
  font-family: 'Nixie One', cursive;
  font-size: 3em;
  line-height: 1em;
  color: #000;
}

/* Main Menu */
.navbar-collapse {
  line-height: 10px;
}

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-nav {
  display: inline-block;
  float: none;
  margin-top: 65px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.navbar-toggle {
  float: none;
  padding: 8px 25px;
  margin: 0;
  margin-top: 50px;
  color: #fff;
  background-color: black;
  border-radius: 0;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  padding: 15px 0;
  margin: 0 50px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.navbar-nav > li.active > a {
  color: #000;
}

.dropdown-menu {
	top: 50px; 
	left: 30px; 
	background-color: #222; 
	border: 0; 
	border-radius: 0; 
}

.dropdown-menu > li > a {
	color: #888; 
} 

.dropdown-menu > li > a:hover { 
	color: #bbb;
	background-color: #333;
}  
		
@media (min-width: 768px) { 
	.dropdown:hover .dropdown-menu { display: block; } 		 
}

@media (max-width: 767px) {
	
	dropdown:hover .dropdown-menu { display: block; }

	.nav > li > a {
		padding: 15px 0;
	}
	
	.navbar-nav {
		margin-top: 50px;
		margin-bottom: 0;
		padding: 15px 40px;
	}
	
	.dropdown-menu {
		text-align: center;
	}
	
	.navbar-nav .open .dropdown-menu > li > a {
		padding-left: 15px;
	} 

	.dropdown-menu > li > a:hover {
		color: #333; 
		background-color: transparent;
	} 

}

/*************************************************************/
/************************ Main Content ***********************/
/*************************************************************/

.main-content {
  padding-top: 105px;
  padding-bottom: 105px;
}



/*************************************************************/
/************************** Portfolio ************************/
/*************************************************************/

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #142026;
  color: #758594;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.overlay:hover {
  opacity: 1;
}

.portfolio-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
}

/* Portfolio Single */
.portfolio-description {
  background-color: #fff;
  padding: 60px;
  margin-bottom: 40px;
}

.see-larger {
  position: absolute;
  top: 60px;
  right: 0;
  font-size: 80%;
  padding: 5px 30px;
  background-color: #142026;
  color: #758594;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.position-relative:hover .see-larger {
  opacity: 1;
}

@media (max-width: 767px) {

  .portfolio-description {
    padding: 30px;
  }

}



/*************************************************************/
/************************** Venobox **************************/
/*************************************************************/

.vbox-overlay *,
.vbox-overlay *:before,
.vbox-overlay *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

body {
  -webkit-overflow-scrolling: touch;
}

.vbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: rgba(0,0,0,.85);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
          transition: opacity .25s ease-in-out;
}

.relativo {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}

.vbox-preloader {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  width: 32px; 
  height: 32px;
  margin-top: -16px;
  margin-left: -16px; 
  overflow: hidden;
  text-indent: -100px;
  background-image: url(../img/lightbox/preload-circle.png);
  -webkit-animation: playload 1.4s steps(18) infinite;
     -moz-animation: playload 1.4s steps(18) infinite;
      -ms-animation: playload 1.4s steps(18) infinite;
       -o-animation: playload 1.4s steps(18) infinite;
          animation: playload 1.4s steps(18) infinite;
}

@-webkit-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -576px; }
}

@-moz-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -576px; }
}

@-ms-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -576px; }
}

@-o-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -576px; }
}

@keyframes playload {
   from { background-position:    0px; }
     to { background-position: -576px; }
}

.vbox-close {
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 20px;
  overflow: hidden;
  color: #fff;
  text-indent: -100px;
  cursor: pointer;
  background: url(../img/lightbox/close.gif) no-repeat;
  background-position: center center;
}

.vbox-next, .vbox-prev {
  position: fixed;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  overflow: hidden;
  color: #fff;
  text-indent: -100px;
  cursor: pointer;
}

.vbox-prev {
  left: 10px;
  background: url(../img/lightbox/prev.gif) center center no-repeat;
}

.vbox-next {
  right: 10px;
  background: url(../img/lightbox/next.gif) center center no-repeat;
}

.vbox-title {
  position: fixed;
  top: -1px;
  left: 0;
  display: none;
  float: left;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  overflow: hidden;
  font-size: 1em;
  line-height: 60px;
  color: #fff;
  text-align: center;
  background: #161617;
}

.vbox-num {
  position: fixed;
  top: -1px;
  left: 0;
  display: none;
  height: 40px;
  padding: 6px 10px;
  overflow: hidden;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
  background: #161617;
}

.vbox-inline {
  width: 420px;
  height: 315px;
  padding: 10px;
  margin: 0 auto;
  overflow: auto;
  text-align: left;
  background: #fff;
}

.venoframe {
  width: 960px;
  height: 720px;
  border: none;
}

@media (max-width: 992px) {
  .venoframe {
    width: 640px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .venoframe {
    width: 420px;
    height: 315px;
  }
}

@media (max-width: 460px) {
  .vbox-inline {
    width: 100%;
  }

  .venoframe {
    width: 100%;
    height: 260px;
  }
}

.vbox-container {
  position: relative;
  width: 98%;
  max-width: 1024px;
  margin: 0 auto;
  background: #000;
}

.vbox-content {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.vbox-container img {
  height: auto;
  max-width: 100%;
}

.vwrap {
  position: relative;
  left: 0;
  z-index: 1;
  float: left;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
          transition: opacity .25s ease-in-out;
}



/*************************************************************/
/***************************** Blog **************************/
/*************************************************************/

.read-more {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 80%;
  padding: 5px 30px;
  background-color: #142026;
  color: #758594;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.position-relative:hover .read-more {
  opacity: 1;
}

.theme-comments {
  margin-top: 100px;
}

.theme-comment + .theme-comment {
  margin-top: 40px;
}

/* Sidebar */ 
.widget + .widget {
	margin-top: 50px;
} 

/*************************************************************/
/************************** Buttons **************************/
/*************************************************************/

.btn {
  padding: 8px 40px;
  border-radius: 0;
  outline: none;
}

.btn-default {
  color: #222;
  background-color: transparent;
  border-color: #222;
  outline: none;
  -webkit-transition: all 0.1s ease-out;
       -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  color: #eee;
  background-color: #222;
  border-color: #222;
  outline: none!important;
  box-shadow: none;
}

.btn-primary {
  color: #eee;
  background-color: #222;
  border-color: #222;
  -webkit-transition: all 0.1s ease-out;
       -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus
 {
  color: #222;
  background-color: transparent;
  border-color: #222;
  outline: none!important;
  box-shadow: none;
}



.btn-sm {
	padding: 5px 25px;
} 

/*************************************************************/
/*************************** Forms ***************************/
/*************************************************************/

.form-group {
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

select.form-control,
.form-control {
  height: 40px;
  border: 0;
  border-bottom: 1px solid #999;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  -webkit-transition: border ease-in-out 0.3s;
          transition: border ease-in-out 0.3s;
}

.form-control:focus {
  border-color: #333;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="number"] {
  -webkit-appearance: none;
}



/*************************************************************/
/************************* Pagination ************************/
/*************************************************************/

.pagination {
  margin: 80px 0 0;
}

.pagination > li > a,
.pagination > li > span {
  padding: 0 15px;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #666;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  padding-left: 0;
  padding-right: 20px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: 0;
  padding-left: 20px;
  padding-right: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: transparent;
  color: #000;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: transparent;
}



/*************************************************************/
/************************** Elements *************************/
/*************************************************************/

/* Testimonial */
.testimonial {
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 80px;
  background-color: #fff;
  font-family: Tinos, serif;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}

.testimonial .author {
  font-size: 13px;
  margin-top: 10px;
}

@media (max-width: 767px) {

  .testimonial {
    padding: 60px 40px;
  }

}

/* Stats */
.stats h4 {
  margin-top: 20px;
}

.stats i {
  font-size: 48px;
}

/* Process */
.process h4 {
  margin-top: 20px;
}

.process i {
  font-size: 48px;
}

/* Call to action */

.call-to-action {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 80px;
  background-color: #fff;
}

@media (max-width: 767px) {

  .call-to-action {
    padding-left: 40px;
    padding-right: 40px;
  }

}

/* Pricing Table */
.pricing {
  padding: 60px 60px;
  background-color: #fff;
}

.pricing li + li {
  margin-top: 10px;
}

@media (max-width: 991px) {

  .pricing {
    padding: 40px 30px;
    background-color: #fff;
  }

}

.contacts {
  margin-top: 100px;
  padding: 80px;
  background-color: #fff;
}

@media (max-width: 767px) {

  .contacts {
    padding: 60px 40px;
  }

}



/*************************************************************/
/*************************** Footer **************************/
/*************************************************************/

footer {
  color: #545f66;
}

footer a {
  color: #758594;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #95a5a4;
}

/* Social */
.footer-social {
  background-color: #232e35;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-family: 'Nixie One', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.footer-social li {
  display: inline;
}

.footer-social li + li {
  padding-left: 110px;
}

@media (min-width: 768px) and (max-width: 991px ) {

  .footer-social li + li {
    padding-left: 70px;
  }

}

@media (max-width: 767px) {

  .footer-social li {
    display: block;
  }

  .footer-social li + li {
    padding-left: 0;
    padding-top: 30px;
  }

}

/* Footer Text */
.footer-text {
  background-color: #19252b;
  padding-top: 110px;
  padding-bottom: 110px;
}


/* Footer Copyright */
.footer-copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #142026;
  color: #39444b;
  font-size: 90%;
}

.ubl-footer-image{
	max-width:165px;
	height:auto;	
}

img{width:100%;height:auto;}
.theme-comment img{width:auto;}

.promobox{
	background-color:white;
	box-sizing:border-box;
	width:100%;
	padding:100px;
	margin:0px;
	text-align:center;
}

.form-submit{
	text-align:center;	
}

.form-submit #submit{
	color: #eee;
	background-color: #222;
	border-color: #222;
	-webkit-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	padding: 8px 40px;
	border-radius: 0;
	outline: none;
	margin-top:20px;
}

.form-submit #submit:hover, .form-submit #submit:active, .form-submit #submit:focus {
	color: #222;
	background-color: transparent;
	border-color: #222;
	outline: none!important;
	box-shadow: none;
	border:1px;
}

textarea.form-control{
	min-height:133px;	
}

.ubl-max-image img{
	max-width:100%;
	width:auto;
	height:auto;
}

.ubl-max-image iframe{max-width:100%;}

.wp-caption{max-width:100%;}
.wp-caption img {margin: 0;padding: 0;border: 0 none;}
.wp-caption p.wp-caption-text {font-size: 0.85em;line-height: 1.214em;padding: 0 4px 5px;margin: 0; }
.sticky { color:red; }
.bypostauthor{background-color: transparent; }
.alignnone {margin:0px;}
.aligncenter,div.aligncenter {display: block;margin: 0px auto 0px auto;}
.alignright {float:right;margin: 0px;}
.alignleft {float: left;margin:0px;}
.aligncenter {display: block;margin: 5px auto 5px auto;}
a img.alignright,img.alignright {float: right;margin: 5px 0px 20px 20px;}
a img.alignnone, img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft, img.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.aligncenter, img.aligncenter {display: block;margin-left: auto;margin-right: auto}

.tagcloud a,
.tagcloud a:visited{
	font-family: 'Inconsolata', serif;
	background-color: #eee;
	font-size: 15px !important;
	line-height: 1.4em !important;
	padding:0px 5px;
	display: inline-block;
}