<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Start Bootstrap</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="col-sm-12">
    <div ngf-drop ngf-select ng-model="galleryImage" class="drop-box"
         ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false" ngf-change="vm.upload($files)"
         accept="*">Drop files here or click to upload
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div ng-repeat="item in vm.pictures" class="col-sm-10 portfolio-item">
      <h3>
        <a href="{{item}}">Item # {{$index}}</a>
      </h3>
      <div>{{item}}</div>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright 2016</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->
